In [2]:
#import libraries
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import opendatasets as od

In [4]:
#download dataset
od.download("https://www.kaggle.com/datasets/prathamsaraf1389/spotify-global-top-50-daily-update")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: sitifatim
Your Kaggle Key: ········
Downloading spotify-global-top-50-daily-update.zip to .\spotify-global-top-50-daily-update

100%|██████████████████████████████████████████████████████████████████████████████| 7.97M/7.97M [00:15<00:00, 525kB/s]

In [6]:
#load data
df = pd.read_csv("spotify-global-top-50-daily-update/playlist.csv")

In [7]:
df

,track_name,track_add_date,track_add_time,multiple_artists_bool,name_of_artists,album_name,album_release_date,album_release_date_precision,number_of_tracks_in_album,position_in_playlist,track_duration_ms,track_popularity,track_explicit,images_path,data_collection_date
0,Flowers,2023-03-31,10:02:16,False,['Miley Cyrus'],Endless Summer Vacation,2023-03-10,day,13,1,200600,87,False,./images/flowers_miley_cyrus.jpg,2023-03-31
1,Kill Bill,2023-03-31,10:02:16,False,['SZA'],SOS,2022-12-08,day,23,2,153946,94,False,./images/kill_bill_sza.jpg,2023-03-31
2,TQG,2023-03-31,10:02:16,True,"['KAROL G', 'Shakira']",MAÑANA SERÁ BONITO,2023-02-24,day,17,3,197933,97,True,./images/tqg_karol_g.jpg,2023-03-31
3,BESO,2023-03-31,10:02:16,True,"['ROSALÍA', 'Rauw Alejandro']",RR,2023-03-24,day,3,4,194543,87,False,./images/beso_rosala.jpg,2023-03-31
4,Boy's a liar Pt. 2,2023-03-31,10:02:16,True,"['PinkPantheress', 'Ice Spice']",Boy's a liar Pt. 2,2023-02-03,day,2,5,131013,97,False,./images/boys_a_liar_pt_2_pinkpantheress.jpg,2023-03-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Snooze,2023-04-05,09:37:18,False,['SZA'],SOS,2022-12-09,day,23,46,201800,91,True,./images/snooze_sza.jpg,2023-04-05
296,Bones,2023-04-05,09:37:18,False,['Imagine Dragons'],Mercury - Acts 1 & 2,2022-07-01,day,32,47,165264,86,False,./images/bones_imagine_dragons.jpg,2023-04-05
297,All Of The Girls You Loved Before,2023-04-05,09:37:18,False,['Taylor Swift'],All Of The Girls You Loved Before,2019-08-23,day,1,48,221407,90,False,./images/all_of_the_girls_you_loved_before_tay...,2023-04-05
298,Eyes Closed,2023-04-05,09:37:18,False,['Ed Sheeran'],Eyes Closed (Piano Version),2023-03-23,day,2,49,194848,70,False,./images/eyes_closed_ed_sheeran.jpg,2023-04-05
299,"Arcángel: Bzrp Music Sessions, Vol. 54",2023-04-05,09:37:18,True,"['Bizarrap', 'Arcángel']","Arcángel: Bzrp Music Sessions, Vol. 54",2023-03-22,day,1,50,223019,87,False,./images/arcngel_bzrp_music_sessions_vol_54_bi...,2023-04-05

In [8]:
#information of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   track_name                    300 non-null    object
 1   track_add_date                300 non-null    object
 2   track_add_time                300 non-null    object
 3   multiple_artists_bool         300 non-null    bool
 4   name_of_artists               300 non-null    object
 5   album_name                    300 non-null    object
 6   album_release_date            300 non-null    object
 7   album_release_date_precision  300 non-null    object
 8   number_of_tracks_in_album     300 non-null    int64
 9   position_in_playlist          300 non-null    int64
 10  track_duration_ms             300 non-null    int64
 11  track_popularity              300 non-null    int64
 12  track_explicit                300 non-null    bool
 13  images_path                   300 non-null    object
 14  data_collection_date          300 non-null    object
dtypes: bool(2), int64(4), object(9)
memory usage: 31.2+ KB

## Explanatory Data Analyst

### Basic Data Information

In [9]:
#describe
df.describe()

,number_of_tracks_in_album,position_in_playlist,track_duration_ms,track_popularity
count,300.000000,300.000000,300.000000,300.000000
mean,9.876667,25.500000,196878.183333,86.596667
std,8.890346,14.454981,35838.844234,13.703037
min,1.000000,1.000000,112087.000000,0.000000
25%,1.000000,13.000000,167303.000000,87.000000
50%,10.000000,25.500000,198435.000000,90.000000
75%,17.000000,38.000000,221520.000000,92.000000
max,36.000000,50.000000,272373.000000,97.000000

In [10]:
df.describe(include='O')

,track_name,track_add_date,track_add_time,name_of_artists,album_name,album_release_date,album_release_date_precision,images_path,data_collection_date
count,300,300,300,300,300,300,300,300,300
unique,59,6,6,53,55,46,1,59,6
top,Flowers,2023-03-31,10:02:16,['Jimin'],Starboy,2023-03-17,day,./images/flowers_miley_cyrus.jpg,2023-03-31
freq,6,50,50,17,12,23,300,6,50

From dataset description, some basic informations that we can see:
* There are total 300 tracks on the dataset
* Maximun popularity in 87
* Popular track name is Flowers
* Popular artist i